*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
    font-family: "Times New Roman", Times, serif;
    background-image: url("../i/bgloginadmintest.png");	
	background-repeat: no-repeat;
}
.main{
    border: 1px solid #858585; 
    margin-top: 160px;
    color:#fff !important;
    background-color: rgba(255, 255, 255,0.05);
}
    h3{
        text-align: center;
        display: block;
    }
    .line{
        width: 40px;
        height: 2px;
        background-color: #fff;
        margin: 0 auto;
    }
    form{
        margin-top: 20px;
    }
        .btn-login{
            padding :10px 25px;
            color:#fff;
            border-radius: 4px;
            border: none;
            background-color: #1f568b;   
            margin-bottom: 30px;
        }
        .btn-login:hover{
            background-color: #032a4f;   
        }
