* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.navbar-custom {
    background-color: #1bb0f5;
    margin-bottom: 0px;
}
.navbar-header{
    height: 64px;
}
.navbar-custom .navbar-brand {
    /*height: 80px;*/
    float: none!important;
}
.navbar-custom .navbar-brand>img{
    margin-top:-10px;
}
.navbar-custom .nav > .active > a {
    color: #000;
}
.navbar-custom .nav {
    height: 64px;
}
.navbar-custom .nav >li >a {
    font-size: 14px;
   /* padding-top: 30px;
    padding-bottom: 30px;*/
    color: #fff;
    margin: auto;
    font-weight: bold;
    line-height: 32px;
}
.navbar-custom .nav >li>form{
    padding-top: 16px !important;
}
.navbar-custom .nav >li >a:hover {
    color: #000;
    background-color: #1bb0f5;
}

.navbar-custom .nav >li >a:focus {
    color: #000;
    background-color: #1bb0f5;
}
    /*search*/  
        .search-form{
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .search-form .form-group {
          float: right !important;
          transition: all 0.35s, border-radius 0s;
          width: 32px;
          height: 32px;
          background-color: #fff;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
          border-radius: 25px;
          border: 1px solid #ccc;
        }
        .search-form .form-group input.form-control {
          padding-right: 20px;
          border: 0 none;
          background: transparent;
          box-shadow: none;
          display:block;
        }
        .search-form .form-group input.form-control::-webkit-input-placeholder {
          display: none;
        }
        .search-form .form-group input.form-control:-moz-placeholder {
          /* Firefox 18- */
          display: none;
        }
        .search-form .form-group input.form-control::-moz-placeholder {
          /* Firefox 19+ */
          display: none;
        }
        .search-form .form-group input.form-control:-ms-input-placeholder {
          display: none;
        }
        .search-form .form-group:hover,
        .search-form .form-group.hover {
          width: 100%;
          border-radius: 4px 25px 25px 4px;
        }
        .search-form .form-group span.form-control-feedback {
          position: absolute;
          top: -1px;
          right: -2px;
          z-index: 2;
          display: block;
          width: 34px;
          height: 34px;
          line-height: 34px;
          text-align: center;
          color: #3596e0;
          left: initial;
          font-size: 14px;
        }

    /*end search*/
    /*login*/
    .loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}
    /*end login*/

#function-container {
    margin-bottom: 20px !important;
}

.function-container {
    padding-bottom: 20px;
    padding-top: 20px;
}

.function-container .gn-item {
    border: 1px solid black;
    width: 90px;
    height: 90px;
    float: left;
    display: block;
    border-radius: 100px;
    background-color: blue;
}
.function-container >div {
    text-align: center;
}

.navbar-custom .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #fff;
}


/* Latest News Box */
#latest-camnang {
  color: #F5334D;
  margin-top: 0px;
  margin-bottom: 20px;
}

#latest-news h2 {
    color: #F5334D;
    margin-top: 0px;
    margin-bottom: 20px;
}

#latest-news > ul {
    list-style: none;
}

#latest-news > ul > li > a {
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}

#latest-news > ul > li > hr {
    border: solid 1px #E3E3E3;
    margin-bottom: 10px;
    margin-top: 0px;
}

#latest-news > ul > li:last-child > hr {
    display: none;
}


/* index-handbook-block */

.index-handbook-block h2,
.index-handbook-block h5 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.index-handbook-block .handbook-header {
    height: 60px;
    display: flex;
    align-items: center;
}
.index-handbook-block .handbook-header>h2{
    color:#fff;
}
.index-handbook-block .handbook-header>h5 {
    margin-left: auto;
}
.index-handbook-block .handbook-header>h5>a{
    color:#333;
}

.index-handbook-block {
    background-color: #1bb0f5;
}

.index-handbook-block .thumbnail {
    background-color: transparent;
    border: none;
}
.index-handbook-block .thumbnail .caption h3{
    color:#000;
}
.index-handbook-block .thumbnail .caption p{
    color:#fff;
}
.index-handbook-block h2 {
    color: #FE0000;
}

.index-handbook-block ul {
    list-style-type: none;
}

.index-handbook-block ul > li {
    display: inline-block;
}

.index-handbook-block ul > li img {
    width: 100%;
    height: 100%;
}

.index-handbook-block ul > li h4 {
    margin-top: 0px;
    color: #000;
}

.index-handbook-block ul > li p {
    color: #f0f0f0;
}


/* notification */

#notification ul {
    list-style-type: none;
    margin-bottom: 10px;
}

#notification ul>li>hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

#notification ul>li>p {
    margin-bottom: 0px;
}
#notification h5{
    margin-bottom: 20px;
}

/* footer */

#footer {
    background-color: #1bb0f5;
    color: #fff;
    font-weight: bold;
    padding-bottom: 30px;
}

#footer ul {
    list-style-type: none;
}
    #footer li {
        padding-top: 7px;
    }
    #footer ul li a{
        text-decoration: none;
        color:#ebebeb;
    }
    #footer ul li a:hover{
        color:#000;
    }
    #footer ul li a:focus{
        color:#035194;
    }

#copyright {
    background-color: #32B8F7;
    padding: 5px 0 5px 0;
    color: #fff;
}

/*================*/
.main{
  margin-top: 10px;
}
.thumbnail-none{
    border: none;
    background-color: inherit;
    display:block;
    margin: 0 auto;
    /*margin-bottom: 20px;*/
}
.thumbnail-none>img{
    min-width: 100px;
}
.border-solid{
    /*background-color: #FCEEFF;*/
    /*background-color: #f6f6f6;*/
    background-color: #f9f9f9;
    margin-bottom: 20px;
    /*margin-top: 20px;*/
}
.border-solid h4{
  margin-bottom: 15px;
}
.padding-right{
    padding-right: 25px;
}
/*col item*/
#bgcolor-item{
    background-color: #e7e3d7;
    /*background-color: #F69859;*/
    color: #333;
}
/*#margin-top20px{
    margin-top: 20px;
}*/
.size-items{
    height: 80px !important;
    width: 80px !important;
    background-color: #007fcc !important;
}
    .size-items>p>img{
        width:40px;
        height: auto;
    }

/*end col item*/
/*tintuc*/
    .news-right li{
        list-style: none;
    }
        .news-right ul li a img{
            /*margin-top:20px;*/
            margin: none important;
        }
        .news-right ul li a .caption h3{
             margin: auto;
            color:#333;
            margin-bottom: 3px;
        }
        .news-right ul li a .caption h4{
             margin: auto;
            color:#333;
            margin-bottom: 3px;
        }
        .news-right ul li a .caption p{
            color:#333;
        }
    .color-a{
        color: #000;
        text-decoration: none;
    }
    .color-a:hover{
        color: #000;
        text-decoration: none;
    }
/*end tintuc*/
    .all-tin-tuc>ul>li{
        list-style: none;
        display: inline-table;
        margin-bottom: 14px;
        width: 100%;
    }
    .all-tin-tuc>ul>li a{
        text-decoration: none;
        color: #333;
    }
    .btn-xemthem{
        padding: 8px 18px 8px 6px;
        background-color: #1bb0f5;
        border: 2px solid #1bb0f5;
        color: #fff;
    }
    .btn-xemthem:hover{
        background-color: #fff;
        color: black;
    }
/*end all-tin-tuc*/
#tin{
    min-height: 659px;
}
#related-news > hr {
    border: solid 1px #E3E3E3;
    margin-bottom: 10px;
    margin-top: 20px;
}
#related-news > ul{
    list-style: none;

}
#related-news > ul>li{
    padding: 10px 0;
    
}
#related-news > ul>li>a{
    color: #000;
    text-decoration: none;

}
#related-news > ul>li>span{
    margin-right: 4px;

}
/*end #tin*/
.date-posted{
    color: #cdcdcd !important;
    margin-bottom:5px !important;
}
/*end .date-poster*/

#category{
   background-color: #f4f4f4;
   margin-bottom: 40px;
}
#category h3{
  padding: 20px 40px;
  text-align: center;
  color:#333;
  border-bottom: 1px #cdcdcd solid;
}
#category>ul>li{
  list-style: none;
  padding: 10px 22px;
}
#category>ul>li>a{
  text-decoration: none;
  color: #333;
}
#category>ul>li:hover{
  background-color: #cdcdcd;
  color: #fff;
}
#answer h3{
  color: red;
}
#answer ul{
  list-style: none;
}
#answer > ul > li{
  /*display: inline-block;*/
  float: left;
  border: 1px solid #1bb0f5;
  padding: 10px 20px;
  border-bottom: none !important;

}
#answer > ul > li > a{
  text-decoration: none;
  font-size: bold;
  color: #333;
}

ul.tabs li{
  cursor: pointer;
}
ul.tabs li.current{
  background-color: #1bb0f5;
  
}
.category-answers{
  display: none;
}
.category-answers>ul>li{
    list-style: none;
    display: inline-table;
    margin-bottom: 14px;
    width: 100%;
}
.category-answers>ul>li a{
    text-decoration: none;
    color: #333;
}
.category-answers>ul>li h4{
  padding-bottom: 5px;
}
.category-answers .a-title-top{
    color: #c3c3c4;
    margin-bottom: 5px;
}
  .text-overflow-ellipsis{
     text-align: justify;
  }

  .category-answers.current{
    display: inherit;
  }

  #paging-website{
    margin-bottom: 20px;
  }
/*================*/
.by-author{
  text-align: justify;
}
#danhmuchoidap ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
#danhmuchoidap ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
#danhmuchoidap ul li a.active {
    background-color: #4CAF50;
    color: white;
}
#danhmuchoidap ul li a:hover:not(.active){
    background-color: #555;
    color: white;
}
